@tailwind base;
@tailwind components;
@tailwind utilities;


.circle-half{
    border-radius: 50%;
    border-left: 1px solid transparent;
    border-top: 1px solid blue;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}